{%- extends "_base_options.j2" -%}

{%- block specific_options -%}
  {{- set_opt(opt, 'use_element_names', True) -}}
  {{- set_opt(opt, 'use_validate', options["cpp"]["use_validate"] | default(True)) -}}
  {{- set_opt(opt, 'requires_opts', True) -}}
{%- endblock -%}
