{%- set opt = {} -%}
{%- from "_options.j2" import set_options with context -%}
{{- set_options(opt) -}}
{%- from "_options.j2" import set_opt with context -%}
{{- set_opt(opt, 'use_element_names', True) -}}
{%- extends "base_config.cpp.j2" -%}
